@charset "UTF-8";
/* -------------
MAIN INFO
---------------*/
/* ------ VARIABLES --------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background: #fff;
  color: #000;
  text-rendering: optimizeLegibility; }

body {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  background: #fff;
  color: #000; }

.btn-white-border {
  border: 2px #fff solid; }

h1, h2, h3, .letter {
  font-weight: 800; }

h3 {
  font-size: 120%; }

@media (max-width: 575px) {
  h1,
  h2 {
    font-size: 180%; } }
.gradient {
  background: #3c63ff;
  background: linear-gradient(45deg, #3c63ff 0%, #b53471 100%); }

.text-gradient {
  background: linear-gradient(45deg, #3c63ff 0%, #b53471 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.card,
.card-header {
  box-shadow: 4px 6px 9px 6px rgba(67, 65, 79, 0.1); }

.card-img-top,
.card {
  border-radius: 0; }

/* -------------
PRELOADER
---------------*/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.loader-wrapper img {
  width: 100px;
  height: auto; }

.preloader-bounce {
  -webkit-animation: key1 .4s ease infinite alternate;
  animation: key1 .4s ease infinite alternate; }

@-webkit-keyframes key1 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }
@keyframes key1 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }
/* -------------
NAVIGATION BAR
---------------*/
.navbar {
  z-index: 999;
  background: #ecf0f1;
  opacity: 0.95; }

.navbar a {
  font-weight: 800;
  font-size: 13px;
  padding: 1rem !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.navbar a:hover,
.navbar .nav-item .active {
  color: #B53471;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.nav-item > li .active > a, .nav-item > li.active > a:focus, .nav-item > li.active > a:hover {
  color: #fff;
  background-color: #337ab7; }

.logo {
  height: 30px; }

.navbar-toggler {
  color: #000; }

/* -------------
HEADER
---------------*/
#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/lights.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white; }

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

/* -------------
MAP
---------------*/
#map iframe {
  width: 800px;
  height: 350px;
  border: 0; }

/* -------------
CONTACT
---------------*/
#contact a {
  text-decoration: none;
  color: #fff; }

#contact .fa-facebook:hover {
  color: #3c63ff;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

#contact .fa-instagram:hover {
  color: #B53471;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

/* -------------
FOOTER
---------------*/
#main-footer {
  background: #000; }

/* -------------
CAROUSEL
---------------*/
#hero-img {
  position: relative;
  height: 70vh;
  background-image: url(../img/hero_image.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.hero-text {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff; }

@media (min-width: 576px) {
  .hero-text {
    top: 10%; } }
.hero-text .lead {
  width: 40%; }

.carousel-image-1 {
  background: url(../img/controllerleft.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

/* -------------
RAINBOW TEXT
---------------*/
@media (max-width: 1200px) {
  .rainbow-text .display-1 {
    line-height: 1; } }
.letter {
  margin-left: -15px;
  color: #FFF;
  text-shadow: 2px 2px 6px #333;
  -webkit-animation: color-changer 8s infinite;
  animation: color-changer 8s infinite;
  -webkit-transition: color-changer ease-in-out;
  transition: color-changer ease-in-out; }
  .letter:nth-of-type(1) {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms; }
  .letter:nth-of-type(2) {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms; }
  .letter:nth-of-type(3) {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms; }
  .letter:nth-of-type(4) {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms; }
  .letter:nth-of-type(5) {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms; }
  .letter:nth-of-type(6) {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms; }
  .letter:nth-of-type(7) {
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms; }

@keyframes color-changer {
  33% {
    color: #B53471; }
  /* #EE0BF5 cctv*/
  66% {
    color: #3c63ff; }
  /* #00CCFF marine */
  100% {
    color: #FFF; }
  /* #66F50B radio */ }
@-webkit-keyframes color-changer {
  33% {
    color: #B53471; }
  /* #EE0BF5 cctv*/
  66% {
    color: #3c63ff; }
  /* #00CCFF marine */
  100% {
    color: #FFF; }
  /* #66F50B radio */ }
/* -------------
CITIES SECTION
---------------*/
.shape-1 {
  -webkit-clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  width: 400px;
  border: 0px solid #3c63ff;
  border-radius: 6px 0 0 6px;
  height: 100px; }

.shape-2 {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
  width: 400px;
  height: 100px;
  border: 0px solid #B53471;
  border-radius: 0 6px 6px 0; }

.shape {
  cursor: pointer;
  position: relative; }

#cities h4 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  line-height: 100px;
  top: 0; }

#cities h4 {
  font-weight: 800; }

.shape:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }

.shape-1:after {
  background: linear-gradient(45deg, transparent 50%, #3c63ff 50%);
  border-radius: 6px 0 0 6px; }

.shape-2:after {
  background: linear-gradient(45deg, transparent 50%, #B53471 50%);
  border-radius: 0 6px 6px 0; }

.shape,
.shape:after {
  background-size: 300%;
  background-position: 100%;
  -webkit-transition: 1s;
  transition: 1s; }

.shape:hover,
.shape:hover:after {
  background-position: 0; }

.shape-1:hover,
.shape-1:hover:after {
  color: #3c63ff; }

.shape-2:hover,
.shape-2:hover:after {
  color: #B53471; }

#cities .pulse {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@media (max-width: 790px) {
  #cities .d-flex {
    flex-wrap: wrap; }

  .shape-1,
  .shape-2,
  .shape-1:after,
  .shape-2:after {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 5px;
    width: 300px; } }
/* -------------
XBOX SECTION
---------------*/
#xbox {
  background-color: #fff; }

.xbox-title {
  position: absolute;
  bottom: 70px;
  right: -50px;
  color: #B53471;
  font-weight: 800; }

/* -------------
RANGE SECTION
---------------*/
.range {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: auto;
  margin-top: -20px; }

.value {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  height: 135px;
  letter-spacing: -.07em;
  text-shadow: white 2px 2px 2px; }

.price {
  font-size: 2em; }

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #B53471;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

​
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #B53471; }

input[type="range"]::-webkit-slider-thumb:active {
  -webkit-transform: scale(1.6);
  transform: scale(1.6); }

/* -------------
PRODUCTS & RENTS
---------------*/
#products a {
  text-decoration: none;
  color: #000; }

#products .col-md-3 {
  -webkit-transition-duration: .4s;
  transition-duration: .4s; }

#products .col-md-3:hover {
  padding: 0 13px;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-duration: .4s;
  transition-duration: .4s; }

.header-rounded {
  position: absolute;
  background-color: #fff;
  width: 70px;
  height: 70px;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  text-shadow: white 2px 2px 2px;
  line-height: 50px; }

.fa-check {
  color: #B53471;
  margin-left: 7px;
  margin-right: 7px; }

@media (max-width: 767px) {
  .col-md-4,
  .col-md-6 {
    margin-bottom: 40px; }

  #gallery .col-md-4 {
    margin-bottom: 10px !important;
    margin-top: 0px !important; }

  #gallery .row {
    margin-bottom: 0px !important;
    margin-top: 0px !important; } }
/* -------------
BUTTON PULSE
---------------*/
.btn-pulse {
  -webkit-animation: shadow-pulse 2s infinite;
  animation: shadow-pulse 2s infinite;
  -webkit-transition: .3s background-color ease;
  transition: .3s background-color ease; }

@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(181, 52, 113, 0.5);
    box-shadow: 0 0 0 0 rgba(181, 52, 113, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 8px rgba(181, 52, 113, 0);
    box-shadow: 0 0 0 8px rgba(181, 52, 113, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(181, 52, 113, 0);
    box-shadow: 0 0 0 0 rgba(181, 52, 113, 0); } }
/* -------------
FAQ
---------------*/
#faq {
  background: url("../img/faq-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

#faq .container {
  opacity: .9; }

#faq .card {
  border: #444; }

#faq .card-header,
#faq .card-body {
  border-bottom: 1px rgba(255, 255, 255, 0.137) solid; }

#faq a {
  text-decoration: none;
  color: #fff; }

#faq .collapse div {
  color: #a3a3a3; }

/* -------------
LINKS LEFT
---------------*/
.links-left {
  background: #B53471;
  width: 50px;
  height: 140px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0px solid transparent;
  border-radius: 0 10px 10px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  z-index: 1; }

.links-left a {
  font-weight: 200%; }

.links-left i {
  font-size: 125%;
  color: white;
  margin-top: 2px; }

.links-left a img {
  width: 23px; }

.links-left a:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s; }

@media (max-width: 575px) {
  .links-left {
    display: none; } }
/* -------------
FAQ BUTTON
---------------*/
.faq-button {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.faq-button i {
  line-height: 60px;
  margin-left: 24px;
  opacity: 0.6; }

.faq-button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

/* -------------
ANIMATIONS
---------------*/
.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4 {
  opacity: 0; }

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated,
.js--wp-4 .animated {
  opacity: 1; }

.js--wp-1 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.js--wp-2 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.js--wp-3 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }
